body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
ul, ol{
    list-style-type: none;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-item{
    color: #2e2f42;
}
.navigation-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.navigation-link:hover,
.navigation-link:focus{
    color: #404bbf;
}
.header-contacts-nav-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-contacts-nav-link:hover,
.header-contacts-nav-link:focus{
    color: #404bbf;
}
.header-contacts{
    font-style: normal;
}
.main-section{
    background-color: #2e2f42;;
}
.main-section-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    
    letter-spacing: 0.02em;
    color: #fff;
}
.maun-section-btn{
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Roboto", sans-serif;
}
.maun-section-btn:hover,
.maun-section-btn:focus{
background: #404bbf;
}
.about-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.about-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-team{
    background-color: #f4f4fd;;
}
.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}
.our-team-item{
    background-color: #fff;
}
.our-team-caption{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-team-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-footer{
    background-color: #2e2f42;
}
.main-footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.main-footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo-item{
    color: #f4f4fd;
}